/info*.md


backend/package-lock.json
backend/dist
backend/.DS_Store
backend/.ts__
backend//src/generated/prisma
backend/*.md

/src/generated/prisma

# Node modules (any depth)
**/node_modules/
*.bak

# Build output
**/dist/
**/build/

# Logs
**/*.log

# Local env files
**/.env*

# OS-specific
.DS_Store

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/

# sql 

*.sql
*/*.sql
